/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
  user-select: none;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--body-font);
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo img {
  width: 1.5rem;
}

.logo__text {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__close {
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}
/* Navigation for mobile devices */
@media screen and (max-width: 800px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--black-color);
    width: 80%;
    height: 100%;
    padding: 8rem 3.5rem 0;
    box-shadow: -4px 0 16px var(--shadow-color);
    transition: right 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  align-items: center;
  align-content: center;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  font-size: 1.25rem;
  transition: color 0.3s;
  text-align: center;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__close:hover,
.nav__toggle:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

.shadow-header {
  box-shadow: 0 4px 16px hsla(0, 100%, 50%, 0.233);
}

@media screen and (min-width: 1200px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__menu {
    position: static;
    height: auto;
    font-size: var(--normal-font-size);
    background: none;
    box-shadow: none;
    padding: 0;
    width: auto;
    display: block;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }
}
